{% extends 'base.html' %}

{% block title %}Update user{% endblock %}

{% block menu_links %}
    <li><a href="{% url 'product_detail' user_obj.pk %}">Back</a></li>
    <li><a href="#">Change password</a></li>

{% endblock %}

{% block content %}
    <h1>Update personal data</h1>
    <form action="{% url 'change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with form=form fields_only=True %}
        {% include 'partial/form.html' with form=profile_form fields_only=True %}
        <br>

        <input type="submit" value="Submit">

    </form>

{% endblock %}