{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}
<h1>Products</h1>

{% for product in products %}
    <div class="card mb-3, text-center" style="width: 38rem; height:25rem; border: solid black; background: #FFFFF0; ">
    <h2>Product name: {{ product.title }}</h2>
    <p>Category: {{ product.category }}</p>
    <p>Description: {{ product.description }}</p>
        <div id="image"><img src="{{ product.image }}" height="50"></div>


    <p><a  href="{% url 'product_detail' product.pk %}">More</a> </p>
    {% if user.is_authenticated %}
    {% if perms.webapp.change_product %}

    <p><a href="{% url 'product_update' product.pk %}">Update</a></p>
        {% for review in products %}
            <p><a href="{% url 'review_detail' review.pk %}">View review</a> </p>
        {% endfor %}
    <p><a href="{% url 'product_delete' product.pk %}">{% bs_icon 'trash'%}</a> </p>
        {% endif %}
    {% endif %}

         </div>
{% endfor %}

    <br>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}