{% extends 'base.html' %}
{% block title %}
    Product - {{ product.title }}
{% endblock %}

{% block menu %}
<li>
    <a href="{% url 'product_add' %}">Article add</a>
</li>
{% endblock %}

{% block content %}
    <h1>Do you want to delete an article?</h1>
    <p>Title - {{ product.title }}</p>

    <form action="{% url 'confirm_delete' product.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Yes">
        <a href="{% url 'index' %}">No</a>
    </form>
{% endblock %}